@import url('https://fonts.googleapis.com/css?family=Saira+Extra+Condensed&display=swap');

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(70, 156, 0, 0.9);
	}

	70% {
		box-shadow: 0 0 0 10px rgba(70, 156, 0, 0);
	}

	100% {
		box-shadow: 0 0 0 0 rgba(70, 156, 0, 0);
	}
}

body {
	font-family: 'Saira Extra Condensed', sans-serif;
	background-image: url('../images/bg.png');
	font-size: 1.2em;
	background-size: 100%;
	-webkit-touch-callout: none;
	/* iOS Safari */
	-webkit-user-select: none;
	/* Safari */
	-khtml-user-select: none;
	/* Konqueror HTML */
	-moz-user-select: none;
	/* Firefox */
	-ms-user-select: none;
	/* Internet Explorer/Edge */
	user-select: none;
}

.logo{
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    width: 150px;
    height: 100px;
    overflow: hidden;
    position: absolute;
    bottom: 50px;
    right: 50px;
    text-indent: -999em;
}

.container {
	max-width: 1360px;
	/* position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%); */
}

#farm {
	border: 1px solid #a61919;
	background-color: rgba(255, 255, 255, 0.85);
	width: 1360px;
	height: 530px;
	position: relative;
	overflow: hidden;
}

.animal {
	position: absolute;
	background-color: grey;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	text-indent: 999em;
}

.animal .shadow {
	position: absolute;
	background: rgba(33, 105, 0, 0.2);
	width: 25px;
	height: 25px;
	top: 50%;
	left: 50%;
	border-radius: 50%;
	transform: translate(-50%, -50%);
	transition: all 0.5s ease;
	cursor: pointer;
	animation: pulse 1.5s infinite;
	overflow: hidden;
	text-indent: -999em
}

.animal .shadow.shadow-invisible {
	transition: all 0.5s ease;
	width: 0px;
	height: 0px;
	opacity: 0;
}

.normal {
	background-color: rgb(133, 133, 133) !important;
}

.sick {
	background-color: rgb(214, 104, 0) !important;
}

.heat {
	background-color: rgb(211, 0, 183) !important
}

.location {
	border: 1px solid #000;
}

.form-check.selected {
	background-color: rgba(70, 156, 0, 0.9) !important;
}

.filter-type {
	padding: 5px 10px;
	color: #fff;
}


/* #location1{
    top: 15px;
    left: 15px;
    width: 1170px;
    height: 180px;
  }

  #location2{
    bottom: 15px;
    left: 15px;
    width: 1170px;
    height: 180px;
  } */

.astronaut {
	color: white;
	background: rgba(195, 10, 20, 0.9);
	overflow: hidden;
	font-weight: bold;
}

#astronaut1 {
	top: 15px;
	left: 15px;
	width: 150px;
	height: 50px;
}

#astronaut2 {
	bottom: 10px;
	right: 15px;
	width: 150px;
	height: 50px;
}

.name {
	position: absolute;
	text-align: inherit;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.action {
	-webkit-backface-visibility: hidden;
	-webkit-transition: translate3d(0,0,0);
  }

.milking {
	background-color: green;
}

/* cubicles */
ul.list-group-horizontal.cubicles li {
	width: 20px;
	height: 40px;
}

ul.cubicles li {
	background-color: rgba(226, 226, 226, 0.5);
	padding: 0px;
	width: 40px;
	height: 20px;
}

.lely-red {
	color: rgba(195, 10, 20, 0.9);
}

.lely-red-bg {
	background-color: rgba(195, 10, 20, 0.9);
}

/* feedAreas */
.feed-area {
	background-color: rgba(127, 127, 127, 0.9);
	color: #fff;
}

/* feedfences */

.fence {
	background: rgba(198, 140, 83, 0.9);
	overflow: hidden;
}

/* vectors */

.vector {
	background: rgba(195, 10, 20, 0.9);
	overflow: hidden;
}

/* cow card */

.cow-card .cow-pic {
	width: 75px;
	height: 75px;
	border: 3px solid rgba(195, 10, 20, 0.9) !important;
	box-shadow: 0px 5px 10px 3px #70716F;
}

.cow-card .animal-id {
	font-size: 1.5em;
}

.cow-card #cow-details-tab a.active {
	background-color: rgba(218, 218, 218, 0.9) !important;
}

.cow-card #cow-details-tab a.nav-link {
	color: #333 !important;
}

.cow-card .modal-body {
	font-size: 0.8em !important;
}

.table-responsive {
	width: 100%;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}

.table-responsive>.table>thead>tr>th,
.table-responsive>.table>tbody>tr>th,
.table-responsive>.table>tfoot>tr>th,
.table-responsive>.table>thead>tr>td,
.table-responsive>.table>tbody>tr>td,
.table-responsive>.table>tfoot>tr>td {
	white-space: nowrap;
}

.animal-0 {
	width: 20px !important;
	height: 20px !important;
	color: yellow !important;
}

.hide-trial {
	z-index: 9999;
	bottom: -25px;
	background: white;
	overflow: hidden;
	text-indent: -999em;
	width: 100px;
	height: 50px;
}